/*
Color palette
Blue: #120350
Purple: #190021
Pink: #E93479
Orange: #F9AC53
Black: #000000
White: #FFFFFF
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #100314;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #FFFFFF
}

header {
  background-color: #100314;
  padding: 10px 0 4px;
  border-bottom: 3px solid #E93479;
  position: fixed;
  width: 100%;
  box-shadow: 0px 10px 5px 0px rgba(233, 52, 121, 0.15);
  s
}
 
h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #E93479;
  text-decoration: none;
}

a:hover,
/*a:focus*/ {
  color: #F9AC53;
}

/*a:active {
  color: #F9AC53;
}*/

.button {
  display: inline-block;
  background-color: #F9AC53;
  color: #190021;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #E93479;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

#contact {
  color:#FFFFFF;
}

.button.contact {
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
}

.button.contact:hover {
  background-color: #FFFFFF;
  color: #120350;
}

.button.contact:active {
  opacity: 0.8;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row.vw{
  margin: 0px 0;
}

.row.vw::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #FFFFFF;
}

#hero h2 {
  text-align: center;
}

#hero span {
  display: block;
}

#skills{
  list-style-type: none;
  padding-inline-start: 0px;
}

#tools{
  list-style-type: none;
  padding-inline-start: 0px;
}

.logo {
  max-width: 150px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #E93479;
}

nav > ul > li > a:hover {
  color: #F9AC53;
}

.vwlist {
  text-align: left;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 16px;
  padding-right: 0;
  font-size: 24px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  text-align: right;
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

#vaporwallet {
  color: #000000;
}

#hero {
  background-color: #100314;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#herovw {
  background-color: #E5E5E5;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

#about h3 {
  margin-top: 0;
}

#vwheader{
  background-color: #E5E5E5;
  padding: 20px 20px;
}

#vwoverview{
  background-color: #F2C7FC;
  padding: 20px 20px;
  margin: auto;
}

#vwproblem{
background-color: #F2C7FC;
padding: 20px 20px;
}

#vwfeatures {
background-color: #CDF2FB;
padding: 20px 20px;
}

#vwresearch{
background-color: #D5FFCB;
padding: 20px 20px;
}

#vwflow {
  background-color: #D5FFCB;
  padding: 20px 20px;
}

main {
  padding-top: 100px;
}

.portrait {
  max-width: 400px;
  margin: auto;
  padding-top: 50px;
}

.social-icons {
  padding-top: 10px;
}

.fab.fa-linkedin {
  max-width: 100px;
}

.fab.fa-behance-square {
  max-width: 100px;
}

.fab.fa-twitter-square {
  max-width: 100px;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
}

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  nav>ul {
  margin: 1em 0;
}

  nav>ul>li {
    display: inline-block;
  }

  .col-md-6 {
    width: 50%;
  }

  .logo {
    max-width: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {}

[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.social-icons .icon i {
  font-size: 40px;
}

.social-icons .icon i:hover {
  color: #F9AC53;
}

.responsive .icon {
  color: #F9AC53;
}

#about a.about {
  color: blue;
}

.max600 {
  max-width: 600px;
}

.current {
  color: #F9AC53;
}
