/*
Color palette
Blue: #120350
Purple: #190021
Pink: #E93479
Orange: #F9AC53
Black: #000000
White: #FFFFFF
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #190021;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #FFFFFF;
}

header {
  background-color: #190021;
  padding: 10px;
  border-bottom: 3px solid #E93479;
  text-align: center;
  position: fixed;
  width: 100%;
  box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
  s
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #E93479;
  text-decoration: none;
}

a:visited {
  color: #E93479;
}

a:hover,
a:focus {
  color: #F9AC53;
  text-decoration: underline;
}

a:active {
  color: #FFFFFF;
}

.button {
  display: inline-block;
  background-color: #F9AC53;
  color: #FFFFFF;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #E93479;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:visited {
  color: #FFFFFF;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
}

.button.contact:hover {
  background-color: #FFFFFF;
  color: #120350;
}

.button.contact:active {
  opacity: 0.8;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #FFFFFF;
}

#hero h2 {
  text-align: center;
}

#hero span {
  display: block;
}

.logo {
  max-width: 200px;
}

nav {
  display: inline-block;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #E93479;
}

nav>ul>li>a:visited {
  color: #E93479;
}

#hero {
  background-color: #190021;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#about h3 {
  margin-top: 0;
}

main {
  padding-top: 100px;
}

.portrait {
  max-width: 400px;
  margin: auto;
  padding-top: 50px;
}

.fab.fa-linkedin {
  max-width: 100px;
}

.fab.fa-behance-square {
  max-width: 100px;
}

.fab.fa-twitter-square {
  max-width: 100px;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  .col-md-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .container {
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {}

[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@keyframes rotate-spool {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

.spool-left {
  transform-box: fill-box;
  transform-origin: center;
  animation-duration: 4s;
  animation-name: rotate-spool;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spool-right {
  transform-box: fill-box;
  transform-origin: center;
  animation-duration: 4s;
  animation-name: rotate-spool;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.social-icons .icon i {
  font-size: 40px;
}
